<!DOCTYPE html>
<html>

<head>
  <title>Model</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
  <link rel="icon" href="{{ url_for('static',filename='images/image1.ico')}}" type="image/gif" sizes="16x16">
</head>

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">SMART PLACEMENT ASSESSMENT</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
         
          <li id="home"><a style="color: black;"href="/">HOME</a></li>
          <li id="home"><a style="color: black;" href="/batch">BATCH PREDICTION</a></li>
          
        </ul>
    </div>
  </nav>


<body>
  <hr>

  {%block body%}

  {%endblock%}

</body>

</html>